<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>Vagrant Drupal Development</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <style type="text/css">
      ol.code {
        font-family: monospace;
      }
    </style>
  </head>

  <body>

  <h1>Welcome to VDD!</h1>
  <p>Hello, developer! On this page you can find links to your configured sites and development tools. Also there is a list of frequantly asked quistions.</p>

  <ul>
    <li><a href="#sites">Configured Sites</a></li>
    <li><a href="#dev">Development</a></li>
    <li><a href="#faq">FAQ</a></li>
  </ul>

  <h3>Configured Sites</h3>
  <ul>
    <% @sites.each do |index, site| %>
    <li><a href="/<%= index %>"><%= site["site_name"] %></a> (Drush alias is @<%= index %>)</li>
    <% end %>
  </ul>

  <h3>Development Tools</h3>
  <ul>
    <li><a href="/phpmyadmin">phpMyAdmin</a></li>
    <li><a href="/phpinfo.php">phpinfo()</a></li>
  </ul>

  <h3>FAQ</h3>

  <h4>Questions</h4>
  <ul>
    <li><a href="#q1">How to ssh into virtual machine?</a></li>
    <li><a href="#q2">How to quickly install Drupal?</a></li>
  </ul>

  <h4>Answers</h4>

  <h5 id="q1">How to ssh into virtual machine?</h5>
  <p>Open you terminal application and enter directory with your VDD copy. Then
    simply execute next command:</p>
  <ol class="code">
    <li>$ vagrant ssh</li>
  </ol>

  <h5 id="q2">How to quickly install Drupal?</h5>
  <p>For this example we'll setup Drupal 7 on previously configured VDD site <em>test_site</em>.
    Make sure that <em>test_site</em> is included in <em>sites</em> section in config.json.
    Enter virtual machine by SSH. Open terminal and write next commands:</p>
  <ol class="code">
    <li>$ cd ~/sites &amp;&amp; rm -rf <em>test_site</em></li>
    <li>$ drush dl drupal-7 --drupal-project-rename="<em>test_site</em>"</li>
    <li>$ drush @<em>test_site</em> si standard</li>
  </ol>

  </body>
</html>
